<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <div class="contacts">
        <div class="contact">
            <div class="contact__type">
                Telegram
            </div>
            <div class="contact__value">
                <a href="http://t.me/iv_karus/">+375336101893</a>
            </div>
        </div>
        <div class="contacts">
         <div class="contact">
            <div class="contact__type">
                GitHub
            </div>
            <div class="contact__value">
                <a href="https://github.com/karinaiva48">github.com/karinaiva48</a>
            </div>
        </div>
        <div class="contacts">
            <div class="contact">
                <div class="contact__type">
                    Email
                </div>
                <div class="contact__value">
                    <a href="mailto:karinaiva48@gmail.com">karinaiva48@gmail.com </a>
                </div>
            </div>
        </div>

<h3><a href="http://127.0.0.1:8000/my_cv/home/"><-back to main page</a></h3>
</body>