{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edu</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <div class="edu">
        <h3>I graduated from Mogilev State University of Food Technologies in 2019. </h3>
        <h2>I have economy degree. I decided to change my job, so I am learning python language at TeachMeSkills online school. </h2>
    </div>
    <h3><a href="http://127.0.0.1:8000/my_cv/home/"><-back to main page</a></h3>
</body>
</html>