<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width, initial-scale=1.0">
    <title>skills</title>
</head>
<body>
  <style>
    table  {
      border-collapse:collapse
    }
    td, th {
      border:1px solid #000000;
      padding:8px;
    }
    </style>
  <table>
    <caption>
      <p>MY SKILLS</p>
    </caption>
    <thead>
      <tr><th>Skill</th><th>Level</th></tr>
    </thead>
    <tbody>
      <tr><td>Python language</td><td>2</td></tr>
      <tr><td>Git</td><td>2</td></tr>
      <tr><td> Framework Django </td><td>2</td></tr>
      <tr><td>Отвественность</td><td>4</td></tr>
      <tr><td>Стрессоустойчивость</td><td>5</td></tr>
      <tr><td>Коммуникабильность</td><td>2</td></tr>
    </tbody>
  </table>
  <h3><a href="http://127.0.0.1:8000/my_cv/home/"><-вернуться на главную</a></h3>
</body>
</html>